
@{
	ViewData["Title"] = "Index";
	// Layout = "~/Views/Shared/_Layout.cshtml";
	// Layout = "~/Views/Shared/_Layout2.cshtml";
	Layout = null;
}

<h1>Index</h1>
<h1>This is my homepage</h1>

@ViewData["data1"]
<br />
@ViewData["data2"]
<br />
@{
	foreach (var i in (string[])ViewData["data3"])
	{
		<h2>@i</h2>
	}
}
@{
	foreach (var i in (List<string>)ViewData["data5"])
	{
		<h3>@i</h3>
	}
}
<br />
@ViewData["data4"]
<br />



@* <h2>Current date and time @DateTime.Now;</h2> *@
@* <h2>Current Year @DateTime.Now.Year;</h2> *@
@* <h2>Current Month @DateTime.Now.Month;</h2> *@
@* @{ *@
@*     var name = "Diya Patel"; *@
@*     var age = 21; *@
@* } *@

@* <h3>age = @age</h3> *@
@* <h3>name = @name</h3> *@

@* @{ *@
@*     var fname = "x"; *@
@*     if(fname.Equals("Diya")) *@
@*     { *@
@*         <h4>hey diya</h4> *@
@*     } *@
@*     else *@
@*     { *@
@*         <h5>byeeeeeee</h5> *@
@*     } *@
@* } *@

@* @{ *@
@*     for(int i=0;i<10;i++) *@
@*     { *@
@*         <h6>@i</h6> *@
@*     } *@
@* } *@
@* @{ *@
@*     string[] names = {"Prem", "Rahi", "Mahi", "Ansh"}; *@
@*     foreach(var item in names) *@
@*     { *@
@*         <h3>@item</h3> *@
@*     } *@
@* } *@